@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #a4a832; /* Nova cor de fundo */
    --branco: #FFFFFF; /* Mantém o branco */
    --laranja: #a832a4; /* Alternativa ao laranja */
    --azul-degrade: linear-gradient(97.54deg, #a83232 35.49%, #a83232 165.37%); /* Alternativa ao azul degrade */
    --fonte-principal: "Poppins";
    --azul: #32a852; /* Alternativa ao azul */
    --cor-da-fonte: #03fc28; /* Cor da fonte em verde */
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-da-fonte); /* Define a cor da fonte em verde */
}
