:root {
    --cor-de-fundo: #D1D1D1; 
    --branco: #FFFFFF;
    --laranja: #FF6347; /* Nova cor para substituir o laranja */
    --azul-degrade: linear-gradient(97.54deg, #000080 35.49%, #1E90FF 165.37%);
    --fonte-principal: "Poppins"; 
    --azul: #4169E1;
    --cor-texto: #333333; /* Nova cor da fonte */
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-texto); /* Cor da fonte */
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

/* Exemplo de uso da cor laranja em outros elementos */
.button-laranja {
    background-color: var(--laranja);
    color: var(--branco); /* Caso o texto precise ser branco sobre o fundo */
}
