@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #D1D1D1; /* Nova cor */
    --branco: #FFFFFF;       /* Mantém o branco */
    --laranja: #FF4500;      /* Nova cor */
    --azul-degrade: linear-gradient(97.54deg, #000080 35.49%, #1E90FF 165.37%); /* Nova cor degradê */
    --fonte-principal: "Poppins"; /* Corrigido */
    --azul: #4169E1;         /* Nova cor */
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal); /* Corrigido */
    font-size: 16px;
    font-weight: 400;
}
